*{
    margin: 0;
    padding: 0;
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgb(108, 176, 243);
      padding: 20px;
  }
  
  .a1 {
      margin-top: 20px;
      list-style-type: none; 
  }
  
  li {
  
      margin-left:50px;
      margin-top: 5px; 
      border-radius: 200px 0px 0px 220px;
      background-color: rgb(221, 212, 200);
      position: relative;
  }
  
  .a {
  
      display: inline-block;
      width: 20px;
      height: 20px;
      text-align: center;
      background-color: white;
      border: 2px solid yellow;
      border-radius: 50%; 
      margin-right: 25px; 
      font-weight: bold;
  }
  
  .a2 {
      font-family: 'Courier New', Courier, monospace;
      color: white;
      position: absolute;
      text-align: center;
      margin-right: 100px;
      margin-bottom: 150px;
  }