.h3-1{
    color:antiquewhite;
    background-color: gray;
    margin-left:400px ;
    margin-top: 1px;
}
div{

    margin-left:600px ;
    margin-top: 100px;
}
img{
    width: 700px;
    height: 700px;
}
h1{
    width: 300px;
    margin-left:400px ;
    margin-top: 500px;
}
.h3-2{
    color:antiquewhite;
    background-color: gray;
    margin-left:400px ;
    margin-top: 700px;
}