.h3-1{
    color:antiquewhite;
    background-color: gray;
    margin-left:500px ;
    width: 500px;
}
img{
    width: 500px;
    height: 700px;
    margin-bottom: 200px; 
}
h1{
    margin-left:500px ;
    margin-top: 30px;
    width: 500px;
}
.h3-2{
    color:antiquewhite;
    background-color: gray;
    margin-left:500px ;
    width: 500px;
}
body{
    width: 1000px;
    height: 1000px;
}
div{
    width: 500px;
}