h1{
    color: rgb(85, 251, 2);
    background-color: rgb(1, 0, 0);
    font-size: 15px;
}
 p{
    color: rgb(23, 251, 2);
    background-color: rgb(9, 0, 0);
    font-size: 15px;
}
body{
    background-color: rgb(3, 0, 0);
}