body {
    background-color: #B0B0B0; 
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}


.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('./Screenshot\ 2025-02-15\ 204935.png');
    background-size: cover; 
    background-position: center; 
    margin-bottom: 20px;
    border: 5px solid #000;
}

.info-box {
    background-color: #fff;
    border: 2px solid #333; 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.info-box p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


@media (max-width: 768px) {
    .circle {
        width: 120px;
        height: 120px;
    }

    .info-box {
        padding: 15px;
    }

    .info-box p {
        font-size: 14px;
    }

    .info-box a {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .circle {
        width: 100px;
        height: 100px;
    }

    .info-box {
        padding: 10px;
    }

    .info-box p {
        font-size: 12px;
    }

    .info-box a {
        font-size: 12px;
    }
}
