.first-but{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 20px;
}
.first-h1{
    font-family: cursive;
    text-transform: lowercase;
    text-decoration: overline;
    text-align: right;
    line-height: 1.6;
    letter-spacing: 15px;
}
.first-p{
    font-family: cursive;
    text-transform: none;
    text-decoration: underline;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 12px;
}
.second-but{
    font-family: cursive;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 34px;
}
.second-h1{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: overline;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
}
.second-p{
    font-family: cursive;
    text-transform: lowercase;
    text-decoration: underline;
    text-align: left;
    line-height: 1.9;
    letter-spacing: 3px;
}
.third-but{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: overline;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 11px;
}
.third-h1{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 1px;
}
.third-p{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 8px;
}
.forth-but{
    font-family: cursive;
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: right;
    line-height: 1.4;
    letter-spacing: 5px;
}