h1{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
}
button{
    color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 5, 5);
    font-size: larger;
 
 }
 p{
    color: rgb(244, 11, 228);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}